.Visitor {
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 66%;
    margin: 10px;
}

.Visitor-header {
    background-color: #f6f8fa;
    color: #123;
    padding: 10px;
}

.Visitor-header a {
    text-decoration: none;
    text-decoration-style: wavy;
}

.Visitor-header a:visited {
    color: pink;
}

